@page "/about"
<div class="About">

    <RadzenRow>
        <RadzenColumn Size="12">
            <RadzenText TextAlign="TextAlign.Justify" TextStyle="TextStyle.DisplayH5" Text="This project is orginally developed by Mohd Umar (umar17605@gmail.com)." />
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="12">
            <RadzenText TextAlign="TextAlign.Justify" TextStyle="TextStyle.Body2">
                This project is a sample demo about AI Digital Store.
                The Idea for this project is to show how we can control the behaviour of user on a website.
                In this project there is a section called Recommended Products on Products Page that means those products is recommended to a particular user it shows here.
                Recommmended products means we recommend those products to users that has a high probability to purchase by the user.
                This recommendation is done by using the Artificial Intelligence and Machine Learning process in python.
            </RadzenText>
        </RadzenColumn>
    </RadzenRow>
</div>